@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.logo {
    font-family: 'Chewy', cursive;
    text-align: center;
    text-decoration: none;
}

.logo.green {
    color: #c7f77f;
}

.logo.purple {
    color: #a406ff;
}

.logo.orange {
    color: #ffd900;
}

.logo.blue {
    color: #06c3fd;
}

h1.logo {
    margin-top: 20px;
}

.twelve.columns.forms {
    text-align: center;
}

form {
    /* display: inline-block; */
}