@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.logo {
    font-family: 'Chewy', cursive;
    text-align: center;
    text-decoration: none;
}

.logo.green {
    color: #c7f77f;
}

.logo.purple {
    color: #d99dfc7e;
}

.logo.orange {
    color: #facb8e;
}

h1.logo {
    margin-top: 20px;
}

.twelve.columns.forms {
    text-align: center;
}

form {
    /* display: inline-block; */
}