<!doctype html>
<html lang="EN">
    
    <head>
        <title>toddaasagram</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="12 columns">
                    <a href="{{ url_for('uploader')}}" class="logo"><h1 id="logo" class="logo">TODDaaSagram</h1></a>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <script>
            let logo = document.getElementById("logo");
            let logoColor = swapColor();
            logo.classList.add(logoColor);

            function swapColor() {
                let colors = ["green", "purple", "orange"]
                let color = colors[Math.floor(Math.random() * colors.length)];
                return color;
            }
        </script>
    </body>

</html>